*{
  margin: 0px;
  padding: 0px;
}
body{
  padding: 20px 100px 10px;
}
#todo-header
{
  background-color: #086972;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
}
.todo-head{
  padding: 20px;

  font-size: 3rem;
  margin-bottom: 20px;


}
#todo-input{
  width:80%;
  padding:15px;
  border-width: 0;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0.2);
  transition: background-color .4s;


margin-bottom: 20px;
}
#todo-input:hover
{
  background-color: white;

}
#todo-add{

  background-color: #900c3f;
  font-size: 1rem;
  box-shadow: 0;

  padding:14px;
  color:white;
  border: none;
  outline: none;
  cursor: pointer;
  opacity: .9;
  transition: background-color .4s;
  margin-left: -5px;

}
#todo-add:hover{
    background-color: crimson;
}
#todo-main{

  box-shadow: 0px 0px 15px rgba(0,0,0,.2);
}
#todo-main .no-todo{
  padding: 20px;
  text-align: center;
  font-size: 3rem;
}
li{
  list-style-type: none;
}
.todo{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  transition: opacity 0.4s;
}
.todo:nth-child(2n)
{
  background-color: #fee2b3;
}
.todo:nth-child(2n+1)
{
  background-color: #ffa299;
}
.todo p{
  padding: 15px;
  font-size: 1.4rem;

}
.btn{
  padding: 15px;

  border: none;
  font-size: 1.2rem;
  margin: 3px;
}
.up{
  background-color:#a8df65;
  opacity: .8;
  transition: opacity .4s;
  color: white;
  cursor: pointer;
}
.up:hover{

  background-color: green;
}
.down{
  background-color: #12cad6;
  opacity: .8;
  transition: opacity .4s;
  color: white;
  cursor: pointer;
}
.down:hover{

  background-color: #0fabbc;
}
.remove{

  background-color:#f37121;
  opacity: .8;
  transition: opacity .4s;
  color: white;
  cursor: pointer;
}
.remove:hover{
background-color:orange;

}
